*::before,
*::after{
  box-sizing: border-box;
}
*{
 margin: 0;
 font-family: 'Pacifico', cursive !important;
}

html,body{
  height: 100%;
}
body{
  font-family: 'Pacifico', cursive !important;
  line-height: 1.5;
 

  overflow-x: hidden;
  background-color: black; 
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


img,svg{
  display: block;
  max-width: 100%;
}





