*::before,
*::after{
  box-sizing: border-box;
}
*{
 margin: 0;
 font-family: 'Pacifico', cursive !important;
}

html,body{
  height: 100%;
}
body{
  font-family: 'Pacifico', cursive !important;
  line-height: 1.5;
 

  overflow-x: hidden;
  background-color: black; 
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


img,svg{
  display: block;
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 12px; 
}


::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px; 
}


::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

.checkOut{
  width: 100%;
  display: flex ;
  justify-content: center;
  align-items: center;
  margin-top: 22px;

}

